<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ blog.title }}</title>
    <link rel="icon" href="http://strive.pub/static/favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .blog {
            padding: 20px 0px;
        }
        .blog .info span {
            padding-right: 10px;
        }
        .blog .summary {
            padding-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">
<div class="header">
    <span><a href="{% url 'blog_get_blogs' %}">博客</a> - <a href="{% url 'blog_get_detail' blog.id %}">{{ blog.title }}</a></span>
</div>

<div class="content">
    <div class="blog">
        <div class="title">
            <a href="#"><h2>{{ blog.title }}</h2></a>
        </div>
        <div class="info">
            <span class="category" style="color: #ff9900;">{{ blog.category.name }}</span>
            <span class="author" style="color: #4a86e8">{{ blog.author }}</span>
            <span class="created" style="color: #6aa84f">{{ blog.created|date:"Y-m-d H:i" }}</span>
        </div>
        <div class="summary">
            {% autoescape off %}
                   {{ blog.content|truncatewords:100 }}
            {% endautoescape %}
        </div>
    </div>
    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top: 10px;">
                    {{ comment.name }} 说: {{ comment.content }}
                </div>
            {% endfor %}
        </div>
        <div class="comment-post" style="padding-top: 20px;">
            <h3>提交评论</h3>
            <form action="{% url 'blog_get_detail' blog.id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-field" style="padding-top: 10px">
                        {{ field.label }}: {{ field }}
                    </div>
                    <div class="error" style="color: red;">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" style="margin-top: 10px">提交</button>
            </form>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    (function() {
        var BsSwt_Src = "http://www.120open.local/h.js?_=" + new Date().getTime();
        document.write('<script type="text/javascript" src="'+BsSwt_Src+'" charset="utf-8" id="BsSwt"><\/script>');
    })(); 
</script>

</body>
</html>
